<script src="//{{ base_url }}/js/forms2/js/forms2.js"></script>
<form id="mktoForm_{{ form_id }}"></form>
<script>
  MktoForms2.loadForm("//{{ base_url }}", "{{ munchkin_id }}", {{ form_id }});
</script>
